body {
  margin: 0;
  background-color: #222;
  color: white;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
}

canvas {
  display: block;
  margin: 10px auto;
  background: linear-gradient(to top, #444, #888);
  border: 2px solid white;
}

#username {
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
}

#leaderboard {
  margin-top: 20px;
}

#leaderboard-list {
  list-style: none;
  padding: 0;
}
